:root {
  --color-text-primary: #302638;
  --color-text-secondary: #6b6471;
  --color-text-promotion: #c63e15;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f6f5f6;
  --color-background-tertiary: #F6F5F6;
  --color-border-primary: #6b6471;
  --color-border-secondary: #908d96;
  --color-border-tertiary: #cac9cc;

  /* Red */
  --color-accent-red-bg-subtle: hsl(12, 100%, 95.1%);
  --color-accent-red-bg-soft: hsl(14.5, 93.5%, 87.8%);
  --color-accent-red-bg-loud: hsl(349, 63%, 53.7%);
  --color-accent-red-bg-heavy: hsl(347, 83.7%, 22.1%);
  --color-accent-red-content-primary: hsl(344, 90%, 13.3%);
  --color-accent-red-content-secondary: hsl(346, 68.7%, 43.9%);
  --color-accent-red-border-soft: hsl(14.5, 93.5%, 87.8%);
  --color-accent-red-border-loud: hsl(349, 63%, 53.7%);
  --color-accent-red-border-heavy: hsl(347, 83.7%, 22.1%);

  /* Orange */
  --color-accent-orange-bg-subtle: hsl(35, 100%, 90.6%);
  --color-accent-orange-bg-soft: hsl(35.3, 100%, 82.4%);
  --color-accent-orange-bg-loud: hsl(35.3, 100%, 41.4%);
  --color-accent-orange-bg-heavy: hsl(20.8, 80%, 17.6%);
  --color-accent-orange-content-primary: hsl(19, 77.4%, 10.4%);
  --color-accent-orange-content-secondary: hsl(35.4, 100%, 28.2%);
  --color-accent-orange-border-soft: hsl(35.3, 100%, 82.4%);
  --color-accent-orange-border-loud: hsl(35.3, 100%, 41.4%);
  --color-accent-orange-border-heavy: hsl(20.8, 80%, 17.6%);

  /* Yellow */
  --color-accent-yellow-bg-subtle: hsl(45.4, 100%, 85.5%);
  --color-accent-yellow-bg-soft: hsl(45.2, 95%, 78%);
  --color-accent-yellow-bg-loud: hsl(45.4, 94.7%, 55.9%);
  --color-accent-yellow-bg-heavy: hsl(32.9, 100%, 14.3%);
  --color-accent-yellow-content-primary: hsl(31.4, 100%, 8.24%);
  --color-accent-yellow-content-secondary: hsl(44.8, 100%, 24.7%);
  --color-accent-yellow-border-soft: hsl(45.2, 95%, 78%);
  --color-accent-yellow-border-loud: hsl(45.4, 94.7%, 55.9%);
  --color-accent-yellow-border-heavy: hsl(32.9, 100%, 14.3%);

  /* Green */
  --color-accent-green-bg-subtle: hsl(144, 62.5%, 90.6%);
  --color-accent-green-bg-soft: hsl(146, 60.4%, 81.2%);
  --color-accent-green-bg-loud: hsl(159, 59.5%, 32.9%);
  --color-accent-green-bg-heavy: hsl(160, 39.5%, 14.9%);
  --color-accent-green-content-primary: hsl(159, 39.5%, 8.43%);
  --color-accent-green-content-secondary: hsl(160, 58.9%, 27.6%);
  --color-accent-green-border-soft: hsl(146, 60.4%, 81.2%);
  --color-accent-green-border-loud: hsl(159, 59.5%, 32.9%);
  --color-accent-green-border-heavy: hsl(160, 39.5%, 14.9%);

  /* Blue */
  --color-accent-blue-bg-subtle: hsl(217, 92%, 95.1%);
  --color-accent-blue-bg-soft: hsl(218, 95.8%, 90.6%);
  --color-accent-blue-bg-loud: hsl(204, 99%, 40%);
  --color-accent-blue-bg-heavy: hsl(211, 79.8%, 19.4%);
  --color-accent-blue-content-primary: hsl(213, 76.3%, 11.6%);
  --color-accent-blue-content-secondary: hsl(201, 100%, 31.8%);
  --color-accent-blue-border-soft: hsl(218, 95.8%, 90.6%);
  --color-accent-blue-border-loud: hsl(204, 99%, 40%);
  --color-accent-blue-border-heavy: hsl(211, 79.8%, 19.4%);

  /* Purple */
  --color-accent-purple-bg-subtle: hsl(247, 100%, 96.5%);
  --color-accent-purple-bg-soft: hsl(249, 100%, 93.1%);
  --color-accent-purple-bg-loud: hsl(258, 57%, 60.8%);
  --color-accent-purple-bg-heavy: hsl(267, 53%, 25.9%);
  --color-accent-purple-content-primary: hsl(268, 54.7%, 14.7%);
  --color-accent-purple-content-secondary: hsl(260, 44.7%, 51.8%);
  --color-accent-purple-border-soft: hsl(249, 100%, 93.1%);
  --color-accent-purple-border-loud: hsl(258, 57%, 60.8%);
  --color-accent-purple-border-heavy: hsl(267, 53%, 25.9%);

  /* Neutral */
  --color-accent-neutral-bg-subtle: hsl(0, 0%, 93.7%);
  --color-accent-neutral-bg-soft: hsl(0, 0%, 87.8%);
  --color-accent-neutral-bg-loud: hsl(260, 1.26%, 46.9%);
  --color-accent-neutral-bg-heavy: hsl(272, 18.7%, 17.8%);
  --color-accent-neutral-content-primary: hsl(275, 20%, 11.8%);
  --color-accent-neutral-content-secondary: hsl(240, 0.5%, 39%);
  --color-accent-neutral-border-soft: hsl(0, 0%, 87.8%);
  --color-accent-neutral-border-loud: hsl(260, 1.26%, 46.9%);
  --color-accent-neutral-border-heavy: hsl(272, 18.7%, 17.8%);

  --color-action: #000000;

  --size-max-width: 1880px;
  --gap: 8px;

  /* Aspect Ratios */
  --aspect_ratio_wrapper-ratio: 4 / 3;
}

.colorize-red {
  background-color:var(--color-accent-red-bg-soft)
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.43;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

.ar169 {
  aspect-ratio: 16 / 9;
}

.ar43 {
  aspect-ratio: 4 / 3 !important;
}

.ar11 {
  aspect-ratio: 1 / 1 !important;
}

/* Box */
.box {
  background-color: var(--color-background-primary);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  height: 100%;
  min-height: 200px;
}

.box:hover {
  background-color: var(--color-background-tertiary);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.box.horizontal {
  flex-direction: row;
}

.box.col-span-2 {
  grid-column: span 2;
}

.box.col-span-3 {
  grid-column: span 3;
}

.box.col-span-4 {
  grid-column: span 4;
}

/* Merch Card */
.box.merch-card {
  background-size: cover;
  border: none;
  background-position: center center;
}

.box.merch-card .content {
  flex-direction: column-reverse;
}

/* Browse Tile */
.browse-tile-link{
  text-decoration: none;
}
.browse-tile .media {
  border-radius: 0.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.browse-tile:hover .media {
  border: 0.5px solid rgba(0, 0, 0, 0);
}

.browse-tile .media img {
  position: absolute;
  border-radius: 0.5rem;
  left: -.5px;
  top: -.5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: -1;
}


.browse-tile .overlay {
  position: absolute;
  border-radius: 0.5rem;
  left: -.5px;
  top: -.5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border:.5px solid rgba(0, 0, 0, 0);
  /* transition: background-color 0.3s ease; */
}

.browse-tile:hover .overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.browse-tile:active .overlay {
  background-color: rgba(0, 0, 0, 0.15);
}


.colorize {
  transition: background-color 2s ease;
}

/* Container */
.container {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 1rem; /* Mobile padding */
}

/* Large Mobile */
@media (min-width: 480px) and (max-width: 767px) {
  .container {
      padding: 0 1rem; /* Large Mobile padding */
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
      padding: 0 2rem; /* Tablet padding */
  }
}

/* Desktop */
@media (min-width: 1280px) and (max-width: 1439px) {
  .container {
      max-width: 1280px;
      padding: 0 3rem; /* Desktop padding */
  }
}

/* Larger than Desktop */
@media (min-width: 1440px) {
  .container {
      max-width: 1440px; /* Adjust as needed for larger screens */
      padding: 0 3rem; /* Desktop padding */
  }
}
.icon.sm {
  width: 16px;
  height: 16px;
}
.icon.md {
  width: 20px;
  height: 20px;
}
.icon.lg {
  width: 24px;
  height: 24px;
}
img {
  width: 100%;
  height: auto;
}

.box > img {
  mix-blend-mode: multiply;
}

.box .content {
  display: flex;
  flex-direction: column;
}
/* 
img.logo {
  width: 40px;
  height: 40px;
} */

img.product-image {
  margin-bottom: 1rem;
}

img.avatar {
  width: 48px;
  height: 48px;
}

.pattern {
  background-size: 64px;
  background-repeat: repeat;
}
/* .retail-banner {
  position: relative;
  height: 500px;
  overflow: hidden;
} */

/* .retail-banner img.parallax {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: auto; 
  min-height: 100%; 
  object-fit: cover;
  object-position: center;
  will-change: transform;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  
} */


.retail-banner {
  overflow: hidden;
  height: 400px; /* Adjust this height as needed */
  position: relative;
}

.parallax-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  transform-origin: center center; /* Ensure the scaling happens from the center */
  /* transition: transform 0.3s ease; */
}

section {
  width: 100%;
  padding: 2rem 0;
  container-type: inline-size;
  container-name: section;
}

.section-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: var(--gap);
}

.section-header button,
.icon-button {
  font-size: 24px;
  border: none;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header .headline {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.section-header .left-slot,
.section-header .right-slot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}

.swiper {
  width: 100%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

.typography.body {
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

.typography.body.md {
  font-size: 14px;
}

.typography.body.sm {
  font-size: 12px;
}

.typography.headline,
.typography.subheadline.lg {
  margin: 0;
}

.typography.headline.lg {
  font-size: 24px;
  font-weight: 700;
}

.typography.subheadline.lg {
  font-size: 16px;
  font-weight: 300;
}

.tcp {
  color: var(--color-text-primary);
}

.tcs {
  color: var(--color-text-secondary);
}

.link {
  font-weight: 700;
  color: var(--color-action);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* border-bottom: 1px solid #ccc; */
}
.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* Ensures the navbar stays on top */
}

    .navbar-left,
    .navbar-center,
    .navbar-right {
        display: flex;
        align-items: center;
    }
    .navbar-center {
      -webkit-box-flex: 1;
      flex: 1 1 500px;
      min-width: 280px;
      margin-right: 12px;
      padding: 0 2rem;
    }
    
    .menu-button {
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    .logo {
        height: 32px;
        margin-left: 1rem;
    }

    .location {
        margin-left: 1rem;
        font-size: 1rem;
        flex: none;
    }

    .search-input {
        width: 100%;
        padding: 1rem;
        height: 40px;
        border-radius: 50px;
        border: none;
        outline: none;
        padding-left: 1rem;
        background-color: var(--color-background-tertiary);
    }

    .avatar-button,
    .cart-button {
        background-color: #f6f5f6;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        cursor: pointer;
        position: relative;
    }

    .cart-count {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #72D08B;
        color: #25123A;
        font-weight: 600;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
    }

    .navbar-links {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        background-color: white;
        border-bottom: .5px solid var(--color-border-tertiary);
        border-bottom: 2px solid #CB2026;

    }

    .navbar-link {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        padding-left: .6rem;
        background-color: var(--color-background-tertiary);
        border-radius: 50px;
        margin-right: 1rem;
        width: 200px;
        justify-content: space-between;
    }

    .store-logo {
        height: 32px;
        width: 32px;
        margin-right: 0.5rem;
    }

    .store-text {
        font-size: 1rem;
    }
    .store-group {
      display: flex;
      align-items: center;
    }
    .link {
        margin-right: 2rem;
        color: #302638;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .link:hover {
        text-decoration: underline;
    }

.wrapper {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(var(--breakpoint-grid_columns, 1), minmax(157px, 1fr));
  row-gap: 1rem;
  grid-auto-flow: dense;
}

.wrapper.carousel {
  --size: 150px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--size);
  gap: var(--gap);
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-padding-inline-start: var(--gap);
}

.wrapper[class] {
  --breakpoint-grid_columns: 2;
}

@media (min-width: 480px) {
  .wrapper[class] {
      --breakpoint-grid_columns: 3;
  }
}

@media (min-width: 768px) {
  .wrapper[class] {
      --breakpoint-grid_columns: 5;
  }
}

@media (min-width: 1280px) {
  .wrapper[class] {
      --breakpoint-grid_columns: 6;
  }
}

@media (min-width: 1440px) {
  .wrapper[class] {
      --breakpoint-grid_columns: 7;
  }
}

@media (min-width: 1880px) {
  .wrapper[class] {
      --breakpoint-grid_columns: 8;
  }
}

.tile-image {
  aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
}




/* THROWAWAY */
.spacehelper {
  height: 1000px;
}